:root{
    --backgroundColor: #000000; /* og bg = 33ccff */
    --bgColB: #00ff99; 
    --bgColC: #e0c9a6; 

    --bgBtnA: #ba8c63; 
    --bgBtnB: #123456; 
    --bgBtnHovA: #111111; 
    --txtBtnA: #414141; 

    --mainText: #ffffff; 
    --textColB: #fa1234; 
    --textColC: #000000; 
    --fontA: Papyrus; 
}

/* MAYBE: Split up theme into multiple files. Kinda messy right now? */

body{
    /* margin: 1%;  */
    background-color: var(--backgroundColor); 
    width: 100%; 
    height: 100%; 
}


/* --------------------------- INFO PAGE --------------------------- */
.infoPage{
    position:fixed; 
    display:flex; 
    justify-content:space-evenly; 
    height:90%; 
    width:100%; 
    margin-top:5%; 
    background-color:var(--bgColC); 
    z-index:1; 
}

.infoPage1{
    width:30%;
}

.infoPage2{
    width:30%;
}

.infoPage3{
    width:30%; 
}

.infoTxt{
    font-size:17px;
}
/* --------------------------- INFO PAGE --------------------------- */


/* --------------------------- HEADER --------------------------- */
.header{
    display:flex; 
    height:10%; 
    width:100%; 
    margin-top:0%; 
}

.headerStart{
    position: fixed; 
    margin-left:4%; 
    display: flex; 
    width: 92%; 
    height: 100%; 
    justify-content:space-evenly; 
}

.headerPlay{
    position: fixed; 
    margin-left:4%; 
    display: flex; 
    width: 92%; 
    height: 100%; 
    justify-content:space-evenly; 
}

.headerText{
    margin-top:0.5%; 
    color: var(--mainText); 
    font-size: 34px; 
    font-weight: bolder; 
    font-family: var(--fontA); 
}

.infoDiv{
    position:fixed; 
    width:4%; 
    height:10%; 
}

.infoButton{
    border:none; 
    border-radius:32px; 
    background-color:var(--bgBtnA); 
    color:var(--txtBtnA); 
    font-size:40px; 
    font-weight:bolder; 
    cursor:pointer; 
    height:80%; 
    width:95%; 
}

.nameBanner{
    margin-top:0.5%; 
    color: var(--mainText); 
    font-size:32px; 
    font-family: var(--fontA); 
}

.goldBanner{
    margin-top:0.8%; 
    color: #daaf37; 
    font-size:32px; 
    cursor:pointer; 
}

.bannerBtn{
    border:none;
    color: var(--txtBtnA); 
    background-color:var(--bgBtnA); 
    font-size:26px; 
    font-weight:bolder; 
    cursor:pointer; 
    height:8%; 
    width:4%; 
}
/* --------------------------- HEADER --------------------------- */



/* --------------------------- SETUP PAGE --------------------------- */
.fullPageSetup{
    position:fixed; 
    z-index: 9; 
    width: 100%; 
    height: 90%; 
    margin-top: 5%; 
}

.setupPrompt{
    font-family: var(--fontA);   
    color: var(--mainText); 
    font-size: 24px; 
}

.mainDiv{
    /* height: 33%;  */
}

.topDiv{
    display: flex; 
    height: 10%; 
    vertical-align:middle; 

    justify-content: space-evenly; 
}

.middleDiv{
    height: 60%; 
    width: 100%; 
    vertical-align: middle; 
}

.bottomDiv{
    height: 20%; 
    width: 100%; 
    margin-top:5%; 
    display:flex; 
    justify-content:space-evenly; 
}

.inputText{
    font-weight: bold; 
    background-color: var(--bgColC); 
    font-size: 34px; 
    color: var(--textColC); 
    font-family: var(--fontA);
}

.nameInput{
    width: 25%; 
    height: 50%; 
}

.nameInputMid{
    width: 75%; 
    height: 50%; 
}

.nameInputTop{
    height: 25%; 
    width: 100%; 
    display: flex; 
    justify-content:space-evenly; 
}

.nameInputMiddle{
    height: 50%; 
    width: 100%; 
    display: flex; 
    justify-content: space-evenly; 
}

.nameInputMiddleLeft{
    height:100%; 
    width:33%; 
}

.nameInputMiddleMiddle{
    display:flex; 
    height:100%; 
    width:33%; 
    justify-content:space-evenly; 
    vertical-align:middle; 
}

.nameInputMiddleRight{
    height:100%; 
    width:33%; 
}

.nameInputDiv{
    width: 100%; 
    height: 50%; 
    margin-left: 11%; 
}

.nameInputBottom{
    height: 25%; 
    width: 100%; 
    display:flex; 
    justify-content: space-evenly; 
}

.addDropBtn{
    border: none; 
    height: 50%; 
    width: 25%; 
    background-color: var(--bgBtnA); 

    color: var(--txtBtnA); 
    text-align: center; 
    font-weight:bolder; 
    font-size: 350%; 
    cursor: pointer;
    /* font-family:var(--fontA);  */ /*ask what looks better*/
}

/* Abstract this out into button class once I fix all other buttons! */
.addDropBtn:hover{
    background-color: #111111; 
}

.beginButton{
    position: relative; 
    margin-bottom: 0; 

    border: none; 
    height: 70%; 
    width: 50%; 
    background-color: var(--bgBtnA); 

    font-weight:bolder; 
    color: var(--txtBtnA);
    text-align: center; 
    font-size: 400%; 
    cursor: pointer;
    font-family: var(--fontA); 
}

/* Abstract this out into button class once I fix all other buttons! */
.beginButton:hover{
    background-color: #111111; 
}
/* --------------------------- SETUP PAGE --------------------------- */



/* --------------------------- PIRATE CODE PAGE --------------------------- */
.pirateCode{
    position: fixed; 
    display: flex; 
    z-index: 9; 
    width: 100%; 
    height: 90%; 
    margin-top: 5%; 

    justify-content:space-evenly; 
}

.scrollSection{
    width: 48%; 
    height: 95%; 
    background-color: var(--bgColC); 
}

.scrollAddSection{
    height: 95%; 
    width: 48%; 
}

.scrollAddSection:hover{
    caret-color:#000000; 
}

.pCodePromptTxt{
    color:var(--mainText); 
    font-size:30px; 
    font-family:var(--fontA); 
}

.updateCodeBtns{
    width: 95%; 
    height: 10%; 
    margin-top: 1%; 

    display: flex; 
    justify-content: space-evenly; 
}

.pCode{
    font-size: 28px; 
    font-weight: bolder; 
    color: var(--textColC); 
    font-family: var(--fontA); 
}

.continueBtnCode{
    width:30%; 
    height: 10%; 
    margin-left: 60%; 
    margin-top: 4%; 

    background-color:var(--bgBtnA); 
    border:none; 
    font-size:30px; 
    color:var(--txtBtnA); 
    font-family:var(--fontA); 
    text-align:center; 
    font-weight:bold; 
    cursor:pointer; 
}

.updateBtnCode{
    border:none; 
    width: 48%; 
    background-color: var(--bgBtnA); 

    font-size: 30px; 
    color: var(--txtBtnA); 
    font-family: var(--fontA); 
    text-align:center; 
    font-weight: bold; 
    cursor: pointer; 
}

.inspireBtnCode{
    width: 48%; 

    background-color:var(--bgBtnA); 
    border:none; 
    font-size:30px; 
    color:var(--txtBtnA); 
    font-family:var(--fontA); 
    text-align:center; 
    font-weight:bold; 
    cursor:pointer; 
}

.pirateCodeInput{
    height: 60%; 
    width: 95%; 
    background-color: var(--bgColC); 

    font-size: 32px; 
    color: var(--textColC); 
    font-family: var(--fontA); 
}
/* --------------------------- PIRATE CODE PAGE --------------------------- */



/* --------------------------- CARD PAGE --------------------------- */
.fullPageCard{
    position: fixed; 
    margin-top: 5%; 

    z-index: 9; 
    width: 100%; 
    height: 90%; 
}

.cardBody{
    margin-left: auto; 
    margin-right: auto; 
    margin-bottom:3%; 
    width: 80%; 
    height: 70%; 
    background-color:var(--bgColC); 
    border-width:4px; 
    border-radius:100px; 
}

.cardTitle{
    margin-left: auto; 
    margin-right: auto; 
    text-align:center; 
    width:90%; 
    font-size: 32px;
    color: var(--textColC); 
}

.cardDesc{
    margin-left: auto; 
    margin-right: auto; 
    text-align:center; 
    width:90%; 
    font-size: 32px; 
    color: var(--textColC); 
}

.continueBtn{
    width:30%; 
    height: 10%; 
    margin-left: 60%; 

    background-color:var(--bgBtnA); 
    border:none; 
    font-size:30px; 
    color:var(--txtBtnA); 
    font-family:var(--fontA); 
    text-align:center; 
    font-weight:bold; 
    cursor:pointer; 
}

/* --------------------------- CARD PAGE --------------------------- */



/* --------------------------- DRAW CARD PAGE --------------------------- */
.fullPageDraw{
    position:fixed; 
    z-index: 1; 
    width: 100%; 
    height: 90%; 
    margin-top: 5%; 
}

.indicatorText{
    color:var(--mainText); 
    font-size: 32px; 
    font-family:var(--fontA); 
}

.topDrawDiv{
    display: flex; 
    height: 10%; 
    width: 100%; 
    justify-content: space-evenly; 
}

.middleDrawDiv{
    display: flex; 
    height: 90%; 
    width: 100%; 
    align-items:center; 
    justify-content: space-around; 
}

.actionButton{
    height: 80%; 
    width: 40%; 
    background-color: var(--bgBtnB); 
    border-radius: 100px; 

    font-size: 600%; 
    font-family:var(--fontA);  
    vertical-align:text-top; 
    cursor: pointer; 
}
/* --------------------------- DRAW CARD PAGE --------------------------- */


/* --------------------------- WIN SCREEN --------------------------- */
.winScreen{
    position: fixed; 
    z-index: 9; 
    width: 100%; 
    height: 100%; 
    background-color: var(--backgroundColor); 
}

.winBanner{
    display: flex; 
    justify-content: space-evenly; 
    font-size: 64px; 
    color: var(--mainText); 
    font-family: var(--fontA); 

}

.winText{
    display: flex; 
    justify-content: space-evenly; 
    font-size: 32px; 
    color: var(--mainText); 
    font-family: var(--fontA); 
}
/* --------------------------- WIN SCREEN --------------------------- */

/* .mainText{
    color: var(--mainText); 
} */

.button:hover{
    background-color: var(--bgBtnHovA); 
}


